img {
  width: 100%;
  height: auto;
  border-bottom: 300px;
}

body {
  text-shadow: 2px 1px black;
  font-size: 20px;
  color: rgb(206, 104, 53);
  font-family: 'Cinzel', serif;
  background-color: rgb(210, 210, 175);
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.title {
  text-shadow: 4px 4px black;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  padding: 0 0 0 0;
  margin: 0 auto;
  text-align: center;
  Position: absolute;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.scrolling h6 {
  color: rgb(112, 112, 205);
  position: absolute;
  font-family: 'Cinzel', serif;
  font-size: 25px;
  border-right: .15em; 
  overflow: hidden;
  white-space: pre;
  margin: 0 auto; 
  animation: example 10s linear 0s;
}

@keyframes example {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.pop-out {
  animation: 2s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
  0% {
    color: #DF8453;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: #3D8DAE;
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: #17494D;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}

#poxyPath1{
  display: none;
}

#tinyPath1{
  display: none;
}

#tinyPicnic{
  display: none;
}

#tinyDragonPicnic {
  display: none;
}

#tinyBeach {
  display: none;
}

#chose_tiny {
  flex: 1;
  display: flex;
  position: absolute;
  width: 210px;
  height: 355px;
  top: 410px;
  left: 275px
}

#chose_poxy {
  flex: 1;
  display: flex;
  position: absolute;
  width: 190px;
  height: 355px;
  top: 410px;
  left: 820px
}

#poxy_path {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: rgb(47, 41, 78);
  Position: absolute;
  left: 55px;
  top: 80px;
}

#path_select_poxy {
  position: absolute;
  top: 440px;
  left: 50px;
  color: black;
}

#chose_picnic {
  position: absolute;
  width: 110px;
  height: 160px;
  top: 170px;
  left: 185px
}

#chose_beach {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 290px;
  left: 470px
}

#tiny, #tinyPicnic1, #tinySwim1, #tinyDragon1, #poxyPicnic1, #poxyDragon, #poxyDragon1, #tinyUnicorn1, #poxyDragonPic1, #tinyDragon2, #dragon1, #end3, #dragon{
  color:rgb(237, 19, 168); 
  font-size: 30px;
}

#poxy, #poxySwim1, #tinySwim1, #tinyUnicorn1, #poxyUnicorn, #tinyUnicorn2, #poxyUnicorn1,#poxyUnicornPic1, #unicorn, #unicorn1, #end, #end1, #end2, #end3, #end4, #end5, #end6, #end7{
color:rgb(237, 19, 168);
  font-size: 30px;
}

#tiny:hover, #tinyPicnic1:hover, #tinySwim1:hover, #tinyDragon1:hover, #poxyPicnic1:hover, #poxyDragon:hover, #poxyDragon1:hover, #tinyUnicorn1:hover, #poxyDragonPic1:hover, #tinyDragon2:hover, #dragon1:hover, #end3:hover, #dragon:hover {
  text-decoration: underline;
}

#poxy:hover, #poxySwim1:hover, #tinySwim1:hover, #tinyUnicorn1:hover, #poxyUnicorn:hover, #tinyUnicorn2:hover, #poxyUnicorn1:hover,#poxyUnicornPic1:hover, #unicorn:hover, #unicorn1:hover, #end:hover, #end1:hover, #end2:hover, #end3:hover, #end4:hover, #end5:hover, #end6:hover, #end7:hover {
  text-decoration: underline;
  }

#poxyPath{
  display: none; 
}

#poxyDragonPic{ 
  display: none;
}

#poxyPicnic{
  display: none; 
}

#poxyUnicornPic{ 
  display: none;
  }

#poxySwim{ 
  display: none;
}
  
#poxyDragonSwim{
  display: none;
}

#poxyUnicornSwim{
  display: none;
}

#tinyPath{
  display: none;
} 

#tinyPicnic{
  display: none;
}

#tinyDragonPic{
  display: none;
}

#tinyUnicornPic{
  display: none;
}

#tinySwim{
  display: none;
}

#tinyDragonSwim{
  display: none;
}

#tinyUnicornSwim{
  display: none;
}

#chose_tiny {
  flex: 1;
  display: flex;
  position: absolute;
  width: 210px;
  height: 355px;
  top: 410px;
  left: 275px
}

#chose_poxy {
  flex: 1;
  display: flex;
  position: absolute;
  width: 190px;
  height: 355px;
  top: 410px;
  left: 820px
}

#poxy_path {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: rgb(47, 41, 78);
  Position: absolute;
  left: 55px;
  top: 80px;
}

#path_select_poxy {
  position: absolute;
  top: 440px;
  left: 50px;
  color: black;
}

#chose_picnic {
  position: absolute;
  width: 110px;
  height: 160px;
  top: 170px;
  left: 185px
}

#chose_beach {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 290px;
  left: 470px
}