body {
  width: 1300px;
  height: 950px;
  text-shadow: 1px 1px black;
  font-size: 20px;
  color: rgb(206, 104, 53);
  font-family: 'Cinzel', serif;
}
/* .center {
  margin: auto;
  width: 50%;
  border: 3px solid g

.typewriter1 h6 {
  color: rgb(225, 199, 186);
  position: absolute;
  top: 30%;
  left: 10%;
  font-family: 'Cinzel', serif;
  font-size: 25px;
  overflow: hidden; 
  border-right: .15em; 
  white-space: pre; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 8.5s steps(45, end),
    blink-caret .5s step-end infinite;
}

#tP1 {
  color:rgb(112, 112, 205);
  text-decoration: none;
}

#tP1:hover {
  text-decoration: underline;
}

#pP1 {
  color:rgb(112, 112, 205);
  text-decoration: none;
}

#pP1:hover {
  text-decoration: underline;
}

/* The tying effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

#tinyPath{
  display: none;
}

#tinyPicnic{
  display: none;
}

#tinyDragonPic{
  display: none;
}

#tinyUnicornPic{
  display: none;
}

#tinySwim{
  display: none;
}
#tinyDragonSwim{
  display: none;
}

#poxyPath{
  display: none;
}

#poxyDragonSwim{
  display: none;
}
#poxyUnicornSwim{
  display: none;
}

h1 {
  display: flex;
  text-shadow: 4px 4px black;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: rgb(186, 181, 214);
  Position: absolute;
  left: 420px;
  top: 80px;
}

img {
  width: 100%;
  height: auto;
}

/* #character_select {
  font-size: 20px;
  position: absolute;
  top: 550px;
  left: 85px;
} */

a {
  color: rgb(112, 112, 205);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#chose_tiny {
  flex: 1;
  display: flex;
  position: absolute;
  width: 210px;
  height: 355px;
  top: 410px;
  left: 275px
}

#chose_poxy {
  flex: 1;
  display: flex;
  position: absolute;
  width: 190px;
  height: 355px;
  top: 410px;
  left: 820px
}

#poxy_path {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: rgb(47, 41, 78);
  Position: absolute;
  left: 55px;
  top: 80px;
}

#path_select_poxy {
  position: absolute;
  top: 440px;
  left: 50px;
  color: black;
}

#chose_picnic {
  position: absolute;
  width: 110px;
  height: 160px;
  top: 170px;
  left: 185px
}

#chose_beach {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 290px;
  left: 470px
}