body {
  text-shadow: 1px 1px black; 
  font-family: 'Lobster', cursive; 
  background-color: rgb(210, 223, 247);
}

.container1{
  text-align: center;
  color: rgb(93, 93, 203);
  justify-content: center;
}

label:hover{
  color: #e6f764;
}

.btn-primary {
  color: #fff;
  background-color: rgb(112, 112, 205);
  border-color: #007bff;
  margin: 0px 0px 8px;
  text-align: center;
  width: 85px;
  font-weight: bold;
}

.btn-primary:hover{
  background-color: #b718ec;
}

label{
  font-size: 20px;
  color: #c44ee8;
  font-weight: bold;
}

.pop-out {
  animation: 2s anim-popoutin ease infinite;
  font-size: 30px;
}

.pages, .picture{
  border: 5px solid #1292ab;
}

#helpSun {
  margin-top: -9%;
  margin-left: 78%;
  color: rgb(238, 108, 56);
}

#helpDragon {
  margin-top: -33.5%;
  margin-left: 51%;
  color: rgb(47, 152, 94);
}

#helpPoxy {
  margin-top: -5%;
  margin-left: 23%;
  color: rgb(237, 17, 17);
}

#helpTiny {
  margin-top: -5%;
  margin-left: 71%;
  color: rgb(108, 21, 230);
}

#picnicOption {
  margin-top: -18%;
  margin-left: 88%;
  color: rgb(199, 240, 95);
}

#swimOption {
  margin-top: 4%;
  margin-left: 2%;
  color: rgb(211, 46, 175);
}

#beachOption {
  margin-top: 3.5%;
  margin-left: 42%;
  color:rgb(99, 73, 20);
}

#hillOption {
  margin-top: 4.5%;
  margin-left: 45%;
  color: rgb(99, 73, 20);
}

#helpRainbow {
  margin-top: -17%;
  margin-left: 6%;
  color: rgb(84, 42, 183);
}

#tinyBall1 {
  margin-top: -8%;
  margin-left: 10%; 
}

#unicornBall1 {
  margin-top: -4%;
  margin-left: 35%; 
}

#poxyBall1 {
  margin-top: -4.5%;
  margin-left: 59%; 
}

#dragonPicnic3 {
  margin-top: -6%;
  margin-left: 5%; 
}

#poxyPicnic3 {
  margin-top: -4.5%;
  margin-left: 23%; 
}

#unicornPicnic3 {
  margin-top: -4%;
  margin-left: 37%; 
}

#tinyDragon1, #poxyDragon, #poxyDragon1, #tinyUnicorn1, #poxyDragonPic1, #tinyDragon2, #dragon1, #end3, #dragon{
  color:rgb(115, 58, 195); 
  font-size: 30px;
} 

#tinyUnicorn1, #poxyUnicorn, #tinyUnicorn2, #poxyUnicorn1,#poxyUnicornPic1, #unicorn, #unicorn1{
color:rgb(235, 58, 179);
  font-size: 30px;
}

#tiny:hover, #tinyPicnic1:hover, #tinySwim1:hover, #tinyDragon1:hover, #poxyPicnic1:hover, #poxyDragon:hover, #poxyDragon1:hover, #tinyUnicorn1:hover, #poxyDragonPic1:hover, #tinyDragon2:hover, #dragon1:hover, #dragon:hover {
  text-decoration: underline;
}

#poxy:hover, #poxySwim1:hover, #tinySwim1:hover, #tinyUnicorn1:hover, #poxyUnicorn:hover, #tinyUnicorn2:hover, #poxyUnicorn1:hover,#poxyUnicornPic1:hover, #unicorn:hover, #unicorn1:hover, #end:hover, #end1:hover, #end2:hover, #end3:hover, #end4:hover, #end5:hover, #end6:hover, #end7:hover {
  text-decoration: underline;
  }

#choosePoxyPicnic1 {
  margin-top: -28%;
  margin-left: 17%; 
  font-size: 42px;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1;
  color: rgb(99, 73, 20);  
}
@keyframes opacity {
0% {
  opacity: 1;
}
50% {
  opacity: 0
}
100% {
  opacity: 1;
}
}

#chooseTinyPicnic1 {
  margin-top: -28%;
  margin-left: 17%; 
  font-size: 42px;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1;
  color: rgb(99, 73, 20);  
}
@keyframes opacity {
0% {
  opacity: 1;
}
50% {
  opacity: 0
}
100% {
  opacity: 1;
}
}

#choosePoxySwim1, #chooseTinySwim1{
  margin-top: -18%;
  margin-left: 50.5%;
  font-size: 42px;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1;
  color: rgb(99, 73, 20);  
}  
@keyframes opacity {
0% {
  opacity: 1;
}
50% {
  opacity: 0
}
100% {
  opacity: 1;
}
}

#choosepoxyDragon1, #chooseTinyDragon1 {
  margin-top: -32%;
  margin-left: 36%; 
  font-size: 32px;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1; 
}
@keyframes opacity {
0% {
  opacity: 1;
}
50% {
  opacity: 0
}
100% {
  opacity: 1;
}
}

#choosepoxyUnicorn1, #chooseTinyyUnicorn1{
  margin-top: -4%;
  margin-left: 65%;
  font-size: 32px;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1;
  color: rgb(61, 61, 228);  
}
@keyframes opacity {
0% {
  opacity: 1;
}
50% {
  opacity: 0
}
100% {
  opacity: 1;
}
}

#choosePoxyyUnicorn, #chooseTinyUnicorn{  
  margin-top: 6%;
  margin-left: 38%; 
  font-size: 33px;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1; 
}
@keyframes opacity {
0% {
  opacity: 1;
}
50% {
  opacity: 0
}
100% {
  opacity: 1;
}
}

#choosePoxyDragon, #chooseTinyDragon {
  margin-top: -38%;
  margin-left: 79%;
  font-size: 32px;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1;
  color: rgb(61, 61, 228);  
}
@keyframes opacity {
0% {
  opacity: 1;
}
50% {
  opacity: 0
}
100% {
  opacity: 1;
}
}

#chooseEnd, #chooseEnd1, #chooseEnd6, #chooseEnd7 {
  margin-top: -50%;
  margin-left: 50%;
  font-size: 50px;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1;
  color: rgb(239, 52, 46);  
}
@keyframes opacity {
0% {
  opacity: 1;
}
50% {
  opacity: 0
}
100% {
  opacity: 1;
}
}

img {
  width: 100%;
  height: auto;
}

.startOverSunPicnic {
  margin-top: -8%;
  margin-left: 33%;
}

.startOver, #startOverSwim{
  margin-top: -10%;
  margin-left: 80%;
  font-size: 50px;
  animation: opacity 2s ease-in-out infinite;
  opacity: 1;
  color: rgb(239, 52, 46);  
}
@keyframes opacity {
0% {
  opacity: 1;
}
50% {
  opacity: 0
}
100% {
  opacity: 1;
}
}

.startOverSpike, #empty {
  margin-top: -8%;
  margin-left: 82%;
  color: rgb(239, 52, 46);
}

#empty1 {
  margin-top: -8%;
  margin-left: 52%;
  color: rgb(239, 52, 46);
}

#startOverPicnic{
  margin-top: -60%;
  margin-left: 5%;
  color: rgb(239, 52, 46);
}

#overParty {
  margin-top: -55%;
  margin-left: 30%;
  color: rgb(239, 52, 46);
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: rgb(34, 34, 240);
  --color-2: yellow;
  --color-3: rgb(244, 15, 15);
}

.title-word-2 {
  --color-1: rgb(13, 183, 13);
  --color-2: orange;
  --color-3: rgb(205, 37, 205);
}

.title-word-3 {
  --color-1: yellow;
  --color-2: red;
  --color-3: rgb(34, 34, 240);
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.title {
  text-shadow: 4px 4px black;
  font-family: 'Lobster', cursive; 
  font-size: 75px;
  padding: 0 0 0 0;
  margin-top: -55%;
  margin-left: 2%;
  text-align: center;
  Position: absolute;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 5px solid #1292ab;
}

.image2 {
  width: 200px;
  height: 350px;
  size: relative;
  position: absolute;
  top: 44%;
  left: 17%;
  animation: shake 3s;
  animation-iteration-count: infinite
}

.image3 {
  width: 245px;
  height: 350px;
  size: relative;
  position: absolute;
  top: 41%;
  left: 64%;
  animation: shake 3s;
  animation-iteration-count: infinite
}

.image4 {
  width: 190px;
  height: 210px;
  size: relative;
  position: absolute;
  top: 20%;
  left: 37%;
  animation: shake 3s;
  animation-iteration-count: infinite
}

.image5 {
  width: 160px;
  height: 200px;
  size: relative;
  position: absolute;
  top: 22%;
  left: 4%;
  animation: shake 3s;
  animation-iteration-count: infinite
}

.image6 {
  width: 200px;
  height: 200px;
  size: relative;
  position: absolute;
  top: 3%;
  left: 81%;
  animation: shake 3s;
  animation-iteration-count: infinite
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.scrolling h6 {
  color: rgb(93, 93, 203);
  position: absolute;
  font-size: 25px;
  border-right: .15em; 
  overflow: hidden;
  white-space: pre;
  margin: 0 auto; 
  animation: example 10s linear 0s;
}

@keyframes example {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes anim-popoutin {
  0% {
    color: red;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: rgb(41, 154, 63);
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color:rgb(87, 27, 72);
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}

#poxyPath1 {
  display: none;
}

#tinyPath1 {
  display: none;
}

#tinyPicnic {
  display: none;
}

#tinyDragonPicnic {
  display: none;
}

#tinyBeach {
  display: none;
}

#sunPicnic {
  display: none;
}

#dragonBall {
  display: none;
}

#poxyPath {
  display: none; 
}

#poxyDragonPic{ 
  display: none;
}

#poxyPicnic {
  display: none; 
}

#poxyUnicornPic{ 
  display: none;
  }

#poxySwim{ 
  display: none;
}
  
#poxyDragonSwim {
  display: none;
}

#poxyUnicornSwim {
  display: none;
}

#tinyPath {
  display: none;
} 

#tinyPicnic {
  display: none;
}

#tinyDragonPic {
  display: none;
}

#tinyUnicornPic {
  display: none;
}

#tinySwim {
  display: none;
}

#tinyDragonSwim {
  display: none;
}

#tinyUnicornSwim {
  display: none;
}

#dragonPoxyBall{
  display: none;
}

#dragonUnicornBall{
  display: none;
}

#dragonTinyBall{
  display: none;
}

#sunPoxyPicnic {
  display: none;
}

#sunDragonPicnic{
  display: none;
}

#sunUnicornPicnic {
  display: none;
}

#picnicFriends {
  display: none;
}

#swimFriends {
  display: none;
}

#unicornParty {
  display: none;
}

#hillEmpty {
  display: none;
}

#beachEmpty {
  display: none;
}

.scrolling {
  position: relative;
}